<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Restaurant Management System</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                <h1>Restaurant Management System</h1>
            </div>

        </div>

        <div id="page_content">

            <div class="left_side_bar">

                <div class="col_1">
                    <div class="box">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/restaurant">Restaurant</a></li>
                            <li><a href="/customer">Customer</a></li>
                            <li><a href="/waiter">Waiter</a></li>
                            <li><a href="/chef">Chef</a></li>
                            <li><a href="/menu">Menu</a></li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="right_section">
                <div class="common_content">
                    <h2>Customer</h2>
                    <hr>
                    <form accept-charset="UTF-8" action="/customer_menu/" autocomplete="off" method="POST">
                        <fieldset>
                            <legend>Search Restaurant Menu:</legend> 
                                <label for="name">Restaurant Name : </label>
                                <input name="name" required="required" type="text"value="" /> <br />
                                <input type="submit" value="Search" onclick="loading();">
                        </fieldset>
                    </form>
                    <br />
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>Restaurant ID</th>
                                <th>Name</th>
                                <th>Address</th>

                            </tr>
                        </thead>
                        <tbody>
                            
                                {% for row in res %}
                                <tr>
                                    {% for element in row %}
                                    <td>{{element}}</td>
                                    {% endfor %}    
                                </tr>
                                {% endfor %}
                            
                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/add_order/" autocomplete="off" method="POST">
                        <fieldset>
                            <legend>Place Your Order:</legend>
                            <label for="restaurant">Restaurant Name : </label><input name="restaurant" required="required" type="text" value="" /> <br />
                            <label for="first_name">First Name : </label><input name="first_name" required="required" type="text" value="" /> <br />
                            <label for="last_name">Last Name : </label><input name="last_name" required="required" type="text" value="" /> <br />
                            <label for="email_address">Email : </label><input name="email_address" required="required" type="text" value="" /> <br />
                            <label for="phone_number">Phone Number: </label><input name="phone_number" required="required" placeholder="000-000-0000" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" type="text" value="" /> <br />
                            <label for="existing_order">Add Existing Order? : </label><input name="existing_order" type="checkbox" value="" /> <br />
                            <label for="order_id">Order ID : </label><input name="order_id" type="text" value="" /><br />
                            <label for="food_item">Food Name : </label><input name="food_item" required="required" type="text" value="" /><br />
                            <input type="submit" value="Add" onclick="loading();">
                        </fieldset>
                    </form>
                    <br />
                    <fieldset>
                        <p>Note to Customer: You can only choose food from <b>only one</b> menu type per order.</p>
                    </fieldset>
                </div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

</body>

</html>