<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Restaurant Management System</title>
    <meta name="description" content="A description of your website">
    <meta name="keywords" content="keyword1, keyword2, keyword3">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
</head>

<body>

    <div id="wrapper">

        <div id="header">

            <div class="top_banner">
                <h1>Restaurant Management System</h1>
            </div>

        </div>

        <div id="page_content">

            <div class="left_side_bar">
                <div class="col_1">
                    <div class="box">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/restaurant">Restaurant</a></li>
                            <li><a href="/customer">Customer</a></li>
                            <li><a href="/waiter">Waiter</a></li>
                            <li><a href="/chef">Chef</a></li>
                            <li><a href="/menu">Menu</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="right_section">
                <div class="common_content">
                    <h2>Menu</h2>
                    <hr>
                    <form accept-charset="UTF-8" action="/menu/" autocomplete="off" method="POST"
                        target="_blank">
                        <fieldset>
                            <legend>Search the menu:</legend>
                                <label for="menu_id">Menu ID : </label><input name="menu_id" type="text"value="" /> <br />
                                <input type="submit" value="Search" onclick="loading();">
                        </fieldset>
                    </form>
                    <br />
                    <table class="base_qry_render">
                        <thead>
                            <tr>
                                <th>Menu ID</th>
                                <th>Menu Name</th>
                                <th>Restaurant Name</th>
                                <th>Food</th>
                                <th>Unit Price</th>
                            </tr>
                        </thead>
                        <tbody>

                                {% for row in data1 %}
                                <tr>
                                    {% for element in row %}
                                    <td>{{element}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}

                        </tbody>
                    </table>
                    <br />
                    <form accept-charset="UTF-8" action="/add_item/" autocomplete="off" method="POST">
                        <fieldset>
                            <legend>Add a food item:</legend>
                            <label for="menu_id">Menu ID : </label><input name="menu_id" type="text" value="" /> <br />
                            <label for="food_id">Food ID : </label><input name="food_id" type="text" value="" /> <br />
                            <label for="food_name">Food Name : </label><input name="food_name" type="text" value="" /> <br />
                            <label for="unit_price">Unit Price : </label><input name="unit_price" type="number" value="" /> <br />
                            <input type="submit" value="Add" onclick="loading();">
                        </fieldset>
                    </form>
                </div>
            </div>

            <div class="clear"></div>

        </div>

    </div>

</body>

</html>